*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.app-container{
    display: flex;

}

.left-section{
     display: flex;
     flex-direction: row;
     flex:1;
     max-width: 38%;  
}
.left-section-header{
    height: 20vh;
    background-color: red;
}
 
.right-section{
    display: flex;
    flex-direction: column;
    width:62%;
}
.right-section-header{
    height: 12vh;
    max-width:100%;
    display: flex;
    flex-direction: row;
    padding: 10px;
    background-color: rgb(236, 236, 236);
 

  
}
.online-profile img{
    height:50px;
    border-radius: 50%;
    margin-right: 10px;
    
}
.online-username{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
}
.chatter-name {
    font-weight: bold;
    font-family:arial;

}
.online{
    display: flex;
flex-direction: row;
align-items: center;
    color:gray ;
}
.online img{
    height: 12px;
    background-color:rgb(34, 134, 34) ;
    border-radius: 50%;
    margin-right: 4px;
}
.calls{
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}
.right-section-body{
    display: flex;
    flex-direction: column;
    flex-grow: 1;

}
.end-to-end{
    display: flex;
    flex-direction:row;
    height: 6vh;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
    margin-left:30vh;
    margin-right: 30vh;
    font-size: 12px;
    background-color: rgb(255, 214, 221);
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 8px;
    color:rgb(181, 163, 163) ;
    margin-bottom: 45px;
}
.end-to-end img{
    height: 20px;
    margin-right: 15px;
}
.today{
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: white;
    color: gray;
    font-size: 18px;
    height: 45px;
    border-radius: 8px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.061);
    margin-left: 44vh;
    margin-right: 81vh;
    padding-left: 0px;
}
.first-p{
    position: relative;
   margin-left: 35px; 
   margin-top: 15px;
   width: 370px;
   box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.196);
   padding: 10px;
   font-size:15px;
   font-family: arial;
   font-weight:550;
   border-radius: 10px;
   
}
.message-time{
    position:absolute;
    bottom:2px;
    right: 2px;
    color: gray;
}
.my-replies{
    position: relative;
    width: 300px;
    background-color: rgb(163, 255, 163);
    margin-right: 30px;
    margin-left: 500px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.196);
    padding: 10px;
    font-size:15px;
    font-family: arial;
    font-weight:550;
    border-radius: 10px;
}
.sidebar{

    position:fixed;
    left:5px;
    top:30px;
    width:75px ;
    padding: 0px 1px;
}
 
.upper{
    display:flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}
.lower{
    display:flex;
    flex-direction: column;
    margin-top: 50px;
 
}

.search{
    /* display: flex;
     flex: 1;
     height: 6vh;
     margin-top: 8px; */
     width: 100%;
height: 40px;  

margin-top: 36px;
border-radius: 10px;
     

    /* flex-direction: row;
  height: 20px;
  align-items: flex-end;  */
  /* max-width: 100%; */

} 
 .search-box{
  display:flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}
.search-box input {
    flex: 1;
    height:6vh;
    border: none;
    background-color: rgb(219, 219, 219);
    margin-right:0px;
    font-family: arial;
    font-size: 15px;
    padding-left: 6px;
    opacity: 0.7;
}
.button1{
height: 6vh;
border: none;
background-color: rgb(219, 219, 219);
border-radius: 10px 0 0  10px;
padding-left: 13px;
opacity: 0.7;


}
.button2{
    height: 6vh;
    border: none;
    background-color: rgb(219, 219, 219);
    border-radius: 0  10px 10px 0;
    padding-right: 13px;
    opacity: 0.7;
}
.search-box img{
    height: 15px;
}

.chats-icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-top: 5px;
}
.chats-icon:hover{
   
background-color:  rgb(209, 204, 204);
font-weight: bold;
} 
.chats-icon img{
    height: fit-content;
}

 .chats{
  display: flex;
  flex-direction: column;
    flex: 1;
    margin-left: 80px;
    height: 100vh;  
} 
.single-chat{
    display: flex;
    flex-direction: row;
    height: 15vh;
    align-items: center;
}
.single-chat img{
    height:50px;
    border-radius: 25px;
}
.chat-details{
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-left: 10px;
    padding-right: 5px;
}
.chatname-and-time{
  display: flex;
  flex-direction: row;  
  justify-content:space-between ;
  align-items:flex-start;
}
.chat-messages-and-counts{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:flex-end ;
    margin-top: 15px;
}
.chat-details button{
    background-color:rgb(34, 134, 34);
    border:none;
    border-radius:50%;
    height: 20px;
 width:20px;
    color: white;
}
.time {
    color: rgb(34, 134, 34) ;
}
.questionmark{
    height: fit-content;
}
.bot-img{
     height: 20px;
    width: 30px;
    border-radius: 15px;
    margin-bottom: 0px;
}